<div class="bx-wrapper">
				<div class="bx-window-img">
					<%= image_tag  "images/home-img-l.jpg" ,:id=>"home-img", :relative => true %>
				</div>
				<div class="bx-window ">
						<div class="description">
							<div class="entry-content">
								<p>
									Home Page Description
								</p>
							</div>
							<div class="call-to-action">
								
							</div>
						</div>
				</div>
</div>